.postCard {
  position: relative;
  color: #181818;
  background: #f9f9f9;
  border-radius: 10px;
  padding-bottom: 70px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.postCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px) scale(1.03);
}

.postCard .postContent {
  padding: 30px;
}

.postCard .postContent .postTitle {
  margin-bottom: 15px;
}

.postImage {
  max-width: 100%;
}

.actionsCard {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 30px;
}

.actionsCard button {
  background: #8484b3;
  border: none;
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.actionsCard button svg {
  fill: #fff;
}

.actionsCard button:hover {
  background: #7171a5;
}

.actionsCard button:active {
  transform: scale(1.1);
  background: #8181c2;
}
